body {
  font-family: sans-serif;
  margin: 0;
}

.content {
  max-width: 500px;
  margin: 0 auto;
}


/* HEADING */

.header-content {
  height: 100%;
}

header {
  height: 125vw;
  max-height: 150px;
  width: 100%;
}

.udacity-logo {
  max-height: 100%;
  width: 20%;
  float: left;
}

h1 {
  float: left;
  padding-top: 5%;
  width: 80%;
  font-weight: normal;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

/* MEDIA QUERIES */

@media screen and (max-width: 380px) {
  h1 {
    font-size: 24px;
  }
}

@media screen and (max-width: 464px) and (min-width: 381px) {
  h1 {
    font-size: 32px;
  }
}

@media screen and (min-width: 465px) {
  h1 {
    font-size: 36px;
  }
}

@media screen and (min-width: 550px) {
  .header-content {
    padding-top: 15px;
  }
}

@media screen and (max-width: 549px) {
  .header-content {
    padding-top: 5px;
  }
}


/* MAIN SECTIONS */

.hero {
  padding: 1em;
  max-width: 100%;
  background-color: #9CD1FA;
  /* Cusomizing Colors:
  Hex Color: http://www.color-hex.com/
  RGB Color: http://www.rapidtables.com/web/color/RGB_Color.htm
  CSS Color: http://www.crockford.com/wrrrld/color.html 
  */
  color: white;
}

.my-picture {
  display: block;
  margin: 0 auto 10px;
  max-width: 100%;
  /* This style says that the picture should be as large as possible inside
  its container on the page. Right now, its container is the dark blue bar, 
  so the image is trying to take up as much space as it can inside */
  /* max-width sets a boundary on how large an image can be without actually
  resizing the image. In other words, 'max-width: 100%;' will prevent the 
  image from overflowing the dark blue bar, but it won't force the image to
  expand its width past its natural width */
  border: 2px solid white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.iama {
  max-width: 100%;
  color: #F6B073; /* default was #EC8226 */
  letter-spacing: 0.05em;
  font-size: 20px;
  margin: 0; /* Margin after .iama class */
}

.my-info {
  max-width: 100%;
  font-size: 22px;
  margin: 0 auto 20px;
}

.my-info:last-of-type {
  margin: 0;
}

.my-name {
  color: white;
}

.about-me {
  padding: 1em; /*em is for spacing? */
}